<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Music App</title>
</head>
<body>
    <div id="main-container"></div>
    <script src="{{ refreshScript }}"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/moment.js"></script>
    <script src="scripts/helper-functions.js"></script>
    <script type="module">
     import { Renderer } from "/scripts/presentation-layer/artist-render.js";
        function main() {
            var renderer = new Renderer();
            var artistName = "{{artist}}" || "Rihanna";
            renderer.init(artistName);
        }
        main();
    </script>
</body>
</html>